@include media-md {
    .projects__project {
        grid-template-columns: 1fr 1fr;
    }
}

@include media-lg {
    .projects__project {
        grid-template-columns: 1fr 2fr;
    }
}

@include media-xl {
    .projects__project {
        grid-template-columns: 1fr 3fr;
    }
}
