html {
    font-size: 18px;
}

@include media-md {
    .projects__project {
        grid-template-columns: 1fr 1fr;
    }
}

@include media-lg {
    html {
        font-size: 20px;
    }
    .projects__project {
        grid-template-columns: 1fr 2fr;
    }
}

@include media-xl {
    html {
        font-size: 23px;
    }
    .projects__project {
        grid-template-columns: 1fr 3fr;
    }
}
